<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Login</title>
</head>
<body>
<div>
  <p style="text-align: left;">Input Password</p>
  <hr>
  <div>
    <form method="post" th:action="@{/password}">
      <input hidden type="text" id="username" name="username" placeholder="username" required th:value="${username}">
      <p>
        <input type="password" id="password" name="password" placeholder="passowrd" required>
      </p>
      <button class="btn" type="submit">login</button>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</body>
</html>
